<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Show post</title>
</head>
<body>
    <h1>Here is the post</h1>
    <div class="post">
        <h3 class="user"><%= post.username %></h3>
        <h3 class="content"><%= post.content %></h3>
    </div>

    <br>
    <br>
  


   <a href="http://localhost:3000/posts">Back to Home</a>
</body>
</html>